<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Know your words with Etymos</title>

    <!-- JQUERY CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/svg+xml" href="/css/images/logo.svg" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comme&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <!-- custom js -->
    <script>
      
      document.write(unescape('%20%3Cscript%20src%3D%22js/api.js%22%3E%3C/script%3E%0A%20%20%20%20%3Cscript%20src%3D%22js/categories.js%22%3E%3C/script%3E%0A%20%20%20%20%3Cscript%20src%3D%22js/relatedInfo.js%22%3E%3C/script%3E%0A'));
      </script>
      
    
    <a id="search-link" target="_blank" href="index.html">Back Home</a>

    <br />
  </body>
</html>
